In [1]:
import pandas as pd
from sklearn import linear_model

In [2]:
df=pd.read_csv("cars.csv")

In [3]:
df.head()

          Car       Model  Volume  Weight  CO2
0      Toyoty        Aygo    1000     790   99
1  Mitsubishi  Space Star    1200    1160   95
2       Skoda      Citigo    1000     929   95
3        Fiat         500     900     865   90
4        Mini      Cooper    1500    1140  105

In [7]:
X=df[['Weight','Volume']]
y=df['CO2']

In [9]:
regr=linear_model.LinearRegression()

In [10]:
regr.fit(X,y)

LinearRegression()

In [11]:
# predict the co2 emission of a car where the weight is 2300 kg and 
# volume is 1300 cm3

In [12]:
predictedCO2=regr.predict([[2300,1300]])

In [13]:
print(predictedCO2)

[107.2087328]

In [14]:
# Coefficient

In [15]:
print(regr.coef_)

[0.00755095 0.00780526]

In [16]:
# 0.00755095 is weight &
# 0.00780526 is volume

In [17]:
# this tells i weight icrease by 1kg the co2 emission
# increase by 0.00755095 g
# and if the engine size ( volume ) increase by 1 cm3 
# the co2 emission increases by 0.00780526 g

In [22]:
# Q what if we increase the weight with 1000 kg

# -> copy the example from above but change the weight from 2300 to 3300

In [23]:
predictedCO2=regr.predict([[3300,1300]])

In [24]:
print(predictedCO2)

[114.75968007]

In [25]:
# 107.2087328 + ( 1000 * 0.00755095 ) = 114.75968