In [1]:
import pandas as pd

In [4]:
cars=pd.read_csv('cars.csv')

In [6]:
cars.head()

          Car       Model  Volume  Weight  CO2
0      Toyoty        Aygo    1000     790   99
1  Mitsubishi  Space Star    1200    1160   95
2       Skoda      Citigo    1000     929   95
3        Fiat         500     900     865   90
4        Mini      Cooper    1500    1140  105

In [9]:
print(cars.head().to_string())

          Car       Model  Volume  Weight  CO2
0      Toyoty        Aygo    1000     790   99
1  Mitsubishi  Space Star    1200    1160   95
2       Skoda      Citigo    1000     929   95
3        Fiat         500     900     865   90
4        Mini      Cooper    1500    1140  105

In [10]:
# One Hot Encoding

In [17]:
ohe_cars=pd.get_dummies(cars[['Car']])

In [27]:
ohe_cars.head()

,Car_Audi,Car_BMW,Car_Fiat,Car_Ford,Car_Honda,Car_Hundai,Car_Hyundai,Car_Mazda,Car_Mercedes,Car_Mini,Car_Mitsubishi,Car_Opel,Car_Skoda,Car_Suzuki,Car_Toyoty,Car_VW,Car_Volvo
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
3,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0

In [28]:
X=pd.concat([cars[['Volume','Weight']],ohe_cars],axis=1)

In [29]:
X.head()

,Volume,Weight,Car_Audi,Car_BMW,Car_Fiat,Car_Ford,Car_Honda,Car_Hundai,Car_Hyundai,Car_Mazda,Car_Mercedes,Car_Mini,Car_Mitsubishi,Car_Opel,Car_Skoda,Car_Suzuki,Car_Toyoty,Car_VW,Car_Volvo
0,1000,790,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
1,1200,1160,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
2,1000,929,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
3,900,865,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,1500,1140,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0

In [30]:
y=cars['CO2']

In [31]:
from sklearn import linear_model

In [32]:
regr=linear_model.LinearRegression()

In [33]:
regr.fit(X,y)

LinearRegression()

In [35]:
predictedCO2=regr.predict([[2300,1300,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0]])

In [36]:
print(predictedCO2)

[122.45153299]

In [37]:
# Another Example

In [38]:
colors=pd.DataFrame({'color':['blue','red']})
print(colors)

  color
0  blue
1   red

In [39]:
colors=pd.DataFrame({'color':['blue','red']})
print(colors)

  color
0  blue
1   red

In [40]:
dummies=pd.get_dummies(colors,drop_first=True)

In [41]:
print(dummies)

   color_red
0          0
1          1

In [42]:
# what if we have multiple columns

In [43]:
colors=pd.DataFrame({'colors':['blue','red','green']})

In [44]:
dummies=pd.get_dummies(colors,drop_first=True)

In [45]:
print(dummies)

   colors_green  colors_red
0             0           0
1             0           1
2             1           0

In [47]:
dummies['colors']=colors['colors']

In [48]:
print(dummies)

   colors_green  colors_red colors
0             0           0   blue
1             0           1    red
2             1           0  green