In [1]:
import pandas as pd

In [4]:
df=pd.read_csv('cars2.csv')

In [5]:
df.head()

          Car       Model  Volume  Weight  CO2
0      Toyoty        Aygo     1.0     790   99
1  Mitsubishi  Space Star     1.2    1160   95
2       Skoda      Citigo     1.0     929   95
3        Fiat         500     0.9     865   90
4        Mini      Cooper     1.5    1140  105

In [6]:
# standardization
# z = (x-u)/s  
# where z =  new value
#       x = origianl value
#       u = mean
#       s = standard deviation

In [11]:
# z = (790-1292.23) / 238.74 = -2.1 
# below code to calculate mean and SD

In [12]:
import numpy as np

In [13]:
np.mean(df['Weight'])

1292.2777777777778

In [14]:
np.std(df['Weight'])

238.73737443185826

In [15]:
# from 3rd line of code , continue

In [16]:
# if you take volume column from the data

In [17]:
# (1.0 - 1.61) / 0.38 = -1.59

In [18]:
# now we can compare -2.1 to -1.59

In [19]:
# example

In [20]:
import pandas as pd
from sklearn import linear_model
from sklearn.preprocessing import StandardScaler

In [22]:
scale=StandardScaler()

In [23]:
df=pd.read_csv("cars2.csv")

In [24]:
X=df[['Weight','Volume']]

In [25]:
scaledX=scale.fit_transform(X)

In [31]:
print(scaledX)

[[-2.10389253 -1.59336644]
 [-0.55407235 -1.07190106]
 [-1.52166278 -1.59336644]
 [-1.78973979 -1.85409913]
 [-0.63784641 -0.28970299]
 [-1.52166278 -1.59336644]
 [-0.76769621 -0.55043568]
 [ 0.3046118  -0.28970299]
 [-0.7551301  -0.28970299]
 [-0.59595938 -0.0289703 ]
 [-1.30803892 -1.33263375]
 [-1.26615189 -0.81116837]
 [-0.7551301  -1.59336644]
 [-0.16871166 -0.0289703 ]
 [ 0.14125238 -0.0289703 ]
 [ 0.15800719 -0.0289703 ]
 [ 0.3046118  -0.0289703 ]
 [-0.05142797  1.53542584]
 [-0.72580918 -0.0289703 ]
 [ 0.14962979  1.01396046]
 [ 1.2219378  -0.0289703 ]
 [ 0.5685001   1.01396046]
 [ 0.3046118   1.27469315]
 [ 0.51404696 -0.0289703 ]
 [ 0.51404696  1.01396046]
 [ 0.72348212 -0.28970299]
 [ 0.8281997   1.01396046]
 [ 1.81254495  1.01396046]
 [ 0.96642691 -0.0289703 ]
 [ 1.72877089  1.01396046]
 [ 1.30990057  1.27469315]
 [ 1.90050772  1.01396046]
 [-0.23991961 -0.0289703 ]
 [ 0.40932938 -0.0289703 ]
 [ 0.47215993 -0.0289703 ]
 [ 0.4302729   2.31762392]]

In [33]:
# Predict CO2 values

In [39]:
y=df['CO2']
scaledX=scale.fit_transform(X)

In [40]:
regr=linear_model.LinearRegression()

In [41]:
regr.fit(scaledX,y)

LinearRegression()

In [42]:
scaled=scale.transform([[2300,1.3]])

In [43]:
predictedCO2=regr.predict([scaled[0]])

In [44]:
print(predictedCO2)

[107.2087328]